<div>
  <div>
  <div class="card" style="width: 70rem;" class="col-md-12 my-5" >
    <img src="../../assets/tail.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><label>Le piéce:</label>{{ar.piece}}</h5>
      <p class="card-text"><label>La marque:</label>{{ar.marque}}</p>
    </div>
    <ul class="list-group list-group-flush">
     <li class="list-group-item"><label>L'etat:</label>{{ar.etat}}</li>
      <li class="list-group-item"> <label>La prix:</label>{{ar.prix}}</li>
      <li class="list-group-item"> <label>Description:</label>{{ar.description}}</li>


    </ul>
  </div>
</div>
  </div>


